body { 
    background-color: ;
}

.cabecalho{
    background-color: black;
    color: whitesmoke;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 25px;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 30%;
}

#titulo {

}

p {
    
}

.imgcentro {

}

nav{

}

li{
    display: inline-block;
    margin: 15px;
    padding: 15px;
    text-align: center;
}

li a{
    font-size: 50px;
    text-decoration: none;
    color: darkblue;

}

button{
    font-size: 16px;
    color: rgb(255, 0, 132);

}

footer{
    line-height: 1;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: beige;
    position: fixed; 
    bottom: 0;
    width: 100%;
    font-size: 15px;
    line-height: 1.5;
}